
<div class="main-div">
  <mat-card _ngcontent-acv-c80="" class="ma-card">
<mat-card-header>
  <mat-card-title class="mat-card-title">
    Game View Detail
  </mat-card-title>
  <mat-card-subtitle class="mat-card-title">
    {{gameDetail.name}}
  </mat-card-subtitle>
  
</mat-card-header>
     
    <mat-card-content class="mat-card-content">
      Game of Year: {{gameDetail.year}}
    </mat-card-content>
    <mat-card-content class="mat-card-content">
      Game Type: {{gameDetail.gameType}}
    </mat-card-content>
    <mat-card-content class="mat-card-content">
      Numbers in stock: {{gameDetail.stock}}
    </mat-card-content>
    <mat-card-content class="mat-card-content">
      Price: {{gameDetail.price}}
    </mat-card-content>
    <mat-card-content class="mat-card-content">
      <button mat-flat-button  color="primary" (click)="goBack()">Go Back</button>
    </mat-card-content>
  </mat-card>




</div>
