.navbar{
    justify-content: space-between;
}
span{
    padding-right: 1rem;
}
.namefooter{
    margin-left: 43%;
}
.webfooter{
  
    margin-left: 40%;
}
.datefooter{
    margin-left: 42%;
}
.mfooter{
    margin-top: 30px;
}
